* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 250px;
  background-color: #D05C3B;
  margin: 20px;
  padding: 18px;
  border-radius: 15px;
  text-align: center;
  box-shadow: 4px 4px 30px rgba(0, 0, 0, 1);
}

img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
}

h1 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 20px;
}

p {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 2px 0px 20px;
  line-height: 13px;
  font-size: 14px;
  font-weight: 500;
}

button {
  font-size: 12px;
  font-weight: 700;
  color: rgb(196, 196, 48);
  background-color: #0E1878;
  border: none;
  border-radius: 15px;
  padding: 10px 20px;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease ;
}

button:hover {
  opacity: 0.9;
  transform: scale(1.1);
}